@{
    ViewData["Title"] = "About Us - KhumaloCraft";
}

<div class="about-container">
    <div class="about-banner">
        <img src="~/icons&images/Book.png" alt="About Us Banner" class="about-banner-img">
    </div>
    <h1 class="about-title">History of KhumaloCraft Emporium</h1>
    <div class="about-content">
        <div class="about-left">
            <p class="about-text">
                This Platform All Started With <br>
                The Vision of Our Visionary Founder <br>
                James Khumalo. He Envisioned <br>
                A Global E-Commerce <br>
                Platform To Showcase African <br>
                Craftwork.
            </p>
            <img src="~/icons&images/7062114.jpg" alt="African Craft" class="about-img">
        </div>
        <div class="about-right">
            <p class="about-text">
                We Started Operating In <br>
                January 2025. During The <br>
                Development of The Company <br>
                We Had The Main Goal To <br>
                Become The Worlds #1 African <br>
                Modern Craftwork ECOM Service.
            </p>
            <img src="~/icons&images/7062117.jpg" alt="Craft Design" class="about-img">
        </div>
    </div>
</div>